# Requires-Python: >=3.10
--extra-index-url https://wheels.myhloli.com
Pillow
notion-client
python-dotenv
transformers
torch
torchvision
markdown
beautifulsoup4
magic-pdf[full]
requests
unittest2
anthropic
tiktoken
